@import "grid-system";
@import "header";
@import "rest";

body {
  min-width: 450px;
}

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dfr {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.red-hover:hover {
  color: #e31717;
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}